//main css file, applied to all pages

$header : #EEE;
$header-hover : rgba(0,0,0,.2);
$header-text : #111;
$home-background : #619dc2;
$photo-border : #FF5629;
$portfolio-background : #1ed9c3;
$portfolio-fixed-background: #ffffff;
$experience-fixed-background: #f0f0f0;
$im-bored : #0F5959;
$about-background: #17A697;
$contact-background: #373F51;


body{
    font-size: 16px;
}
h2, h3, h4{
    text-align: center;
}